// Цвета
$color-dark: #110651;
$color-accent: #5827DD;
$color-yellow: #F3DA31;
$color-lavender: #DDD0FF;
$color-light: #F5F5F5;
$color-white: #FFFFFF;
$color-danger: #FF4D4D;
$color-success: #47cc8a;

// Шрифты
$font-main: 'Montserrat', sans-serif;

// Размеры
$font-size-base: 16px;
$radius: 8px;
$transition: 0.2s ease-in-out;
