@use '../../styles/variables.scss' as *;

.backButton {
  padding: 8px 16px;
  background-color: $color-light;
  color: $color-dark;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  font-size: $font-size-base;
  font-family: $font-main;
  transition: all $transition;

  &:hover {
    background-color: $color-accent;
    color: $color-white;
  }

  &:active {
    transform: scale(0.95);
  }
}
