@use '../../styles/variables.scss' as *;

.addWordPage {
  padding: 24px;
  background-color: $color-white;
}

.title {
  text-align: center;
  font-family: $font-main;
  font-size: 28px;
  color: $color-dark;
  margin: 32px 0;
}

.formWrapper {
  max-width: 500px;
  margin: 0 auto;
}
