@use '../../styles/variables.scss' as *;

.homePage {
  padding: 24px;
  background-color: $color-white;
}

.title {
  font-size: clamp(20px, 5vw, 24px);
  margin-bottom: 16px;
  color: $color-dark;
  font-family: $font-main;
}
